.button{
    transition: background-color ease-out 0.2s;
}

.submit-button{
    position: relative;
    left: 2px;
    background-color: rgb(0, 168, 255);
    padding: 2px;
    border-radius: 5px;
    color: white;
    border: none;
    transition: ease 0.2s;
}

.submit-button:hover{
    background-color: rgb(50, 187, 255);
}

.note{
    transition: box-shadow ease 0.2s;
}

.note:hover{
    box-shadow: 0 0 2px 5px skyblue;
}
