#root{
    position: relative;
    width: auto;
    height: 60vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#btn {
    position: relative;
    width: 100px;
    height: 50px;
    border-style: groove;
    border-color: cornflowerblue;
    color: darkblue;
    left: 50%;
}

.square{
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-color: red;
}

.ipts {
    position: sticky; 
    top: 70%;
    left: 0px;
    width: 50%;
    height: 20%;
    align-self: center;
}

.note {
    position: relative;
    width: 50vh;
    height: 20vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}